.git
.gitignore
node_modules
vendor
.env
.env.*
!.env.example
storage/*.key
storage/logs
storage/framework/cache
storage/framework/sessions
storage/framework/views
bootstrap/cache
.phpunit.result.cache
Homestead.yaml
Homestead.json
npm-debug.log
yarn-error.log
docker-compose.yml
Dockerfile
README.md
boost.json
composer.lock
package-lock.json
package.json